extends layout

block content
  h1= title
  form(action='/', method='post')
    label Username :
    input(type="username" name="username" placeholder="ใส่ Username")
    <br>
    label Password :
    input(type="password" name="password" placeholder="ใส่ Password")
    <br>
    input(type='submit', value='Submit')
